body{
  margin: 0px;
  font-family: Sans-serif;
  font-size: 0.9em; /*0.9em means 90% of the original size*/
}

a{
  margin: 5px;
  text-decoration: none;
  color: black;
}

nav{
 justify-content: space-between;
  display: flex; 
}

a:hover{
  text-decoration: underline;
}
 
.header-nav{
  display: flex; 
  padding-right: 20px;
  margin-left: 10px;
  align-items: center;
}

ul>a, ul>img{
  padding: 5px 5px; 
}

.header-img:hover{
 box-shadow: 0px 0px 5px 0px; 
 border-radius: 50px; 
 background-color: #e8e7e6;
}
section{
  display: flex;
  flex-direction: column;
  align-items: center; 
  margin-top: 7vh;
} 

@font-face{
  font-family: 'Product-sans';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/productsans/v5/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
} 

h1{
  font-family: Product-sans;
  font-size: 5.5em;
}

.input-container{
   display: flex;
  justify-content: space-between;
  width: 600px;
  height: 35px;
  border: 2px solid gainsboro;
  border-radius: 25px; 
} 

input{
  flex-grow: 0.95;
  border: none;
  outline: none;
} 

.input-container > img{
  padding-top: 5px;
  padding-left: 5px;
}
 
img:hover{
  cursor:pointer;
} 

.input-container:hover{
  box-shadow: 0px 0px 5px gainsboro;
} 

.button-container{
  padding-top: 49px;
}

button{
  height: 38px;
  margin-left: 15px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 5px;
} 

button:hover{
  box-shadow: 0px 0px 5px #dedede;
  cursor: pointer;
} 

footer{
  bottom: 0;
  position: fixed;
  width: 100vw;
  background-color: #ededed;
  
}


